html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bold {
  font-family: 'Ubuntu', sans-serif;
  font-family: 700;
}

h2,
h3,
h4,
h5,
p {
  font-family: 'Roboto', sans-serif;
}
.text-mini{
  font-size: 18px;
}
.container{
  width: 75%;
}